<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>About | PanchuShot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #78c3f8;">
        <a class="navbar-brand" id="para" href="{% url 'home' %}"
            style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Panchu
            Shot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <div style="background-color: black;"><a href="{% url 'home' %}"><img src="{% static 'img/back2.png' %}"
                width="40px" height="40px" style="background-color: white; margin-left: 10px; margin-top: 10px;"
                alt=""></a></div> -->
    <div class="first d-flex">
        <div class="para mr-4" id="div1">
            <p id="para1">ABOUT</p>
        </div>
        <div class="para d-flex flex-column" id="div2">
            <span class="text-center" id="para3">Hello Everyone</span>
            <p class="text-justify" id="para2">My name is Priyanshi Srivastava. I'm a flatlay and product photographer
                based on Uttar Pradesh
                India.
                I love to create flatlays. I was starting photography as a hobby and now it become my passion. And right
                now
                I'm an Indian Ambassador on Pindle. I have worked with many brands. I'm always try to provide my best
                content to the brand and also creating reels for them.</p>
            <div class="d-flex flex-row justify-content-center">
                <a class="link" href="https://instagram.com/panchu_shot?utm_medium=copy_link"><img
                        src="{% static 'img/instagram.png' %}" alt=""></a>
                <a class="link" href="https://twitter.com/panchu_shot?t=SgWoOMmmeKmzScH1WP6OVQ&s=09"><img
                        src="{% static 'img/twitter.png' %}" alt=""></a>
                <a class="link" href="https://mojapp.in/@panchu_shot?referrer=Syk0Pgk-h6SL8F"><img
                        src="{% static 'img/moj.png' %}" alt="" height="28px" width="28px"></a>
                <a class="link" href="mailto:priyanshisrivastava99080@gmail.com"><img src="{% static 'img/gmail.png' %}"
                        alt="" height="24px" width="30px"></a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>